@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
/*  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}
input {
    @apply block w-full px-3 py-2 text-sm text-gray-900 dark:text-white bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm
}
select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}
.card {
  @apply relative px-4 py-10 bg-white dark:bg-gray-700 md:mx-0 shadow rounded-3xl sm:p-10 dark:text-white
}
h1 {
  @apply dark:text-white text-black font-bold text-3xl
}
h2 {
  @apply dark:text-white text-black font-bold text-2xl
}
h3 {
  @apply dark:text-white text-black font-medium text-lg
}
p {
  @apply dark:text-white text-black mb-4
}
.helper {
  @apply mt-2 text-xs text-gray-500 dark:text-gray-400
}